.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libdogma.la
libtool
ltmain.sh
missing
*.o
*.lo
test/*
!test/*.[ch]
src/operands.h
src/tables-data.h
include/dogma-names.h
test-driver
test-suite.log
libdogma-*.tar.xz
libdogma.pc
core.*
libdogmactl
